/* ==========================================================================
   Top navigation
   ========================================================================== */

.main-nav-outer{
  padding:0px;
  border-bottom:1px solid #dddddd;
  position:relative;
  background:#fff;
}
.main-nav{
  text-align:center;
  margin:10px 0 0px;
  padding:0;
  list-style:none;
}
.main-nav li{
  display:inline;
  margin:0 1px;
  line-height: 1.5;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
.main-nav li a{
  display:inline-block;
  color:#222222;
  text-transform:uppercase;
  font-size:14px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-decoration: none;
  line-height:20px;
  margin:0px 32px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
  text-decoration:none;
  color: #7cc576;
}

.small-logo{ 
  padding:0 32px;
}
.small-logo img{
    width: 70px;
}

.main-section{
  padding:90px 0 110px;
}

.navigation-wrapper {
  text-align: center;
  @include clearfix;
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;
  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    .small-logo {
    display:none; 
    }
    ul {
      margin: 0px;
    }
    display: block;
    background-color: $black;
    max-height: 100%;
    li {
      padding: 10px;
      margin: 0px;
      background-color: $black;
      display: block;
      float: none;
      @include media($medium) {
        float: left;
      }
      a {
        color: $white;
      }
      a:hover{ 
        text-decoration:none;
        color: #7cc576;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  color:$white;
  padding: 10px 20px;
  background-color: $black;
  height: 44px;
  @include rounded(0);
  @include media($medium) {
    display: none;
  }
}
