.secwed-posts {
    width: 100%;
    font-size: 16px;
}

.secwed-year {
    margin-top: 40px;
}

.secwed-year:not(:last-of-type) {
    border-bottom: 2px solid var(--border);
}

.secwed-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

@media only screen and (max-width: 768px) {
    .secwed-month {
        flex-direction: column;
    }
}

.secwed-month-header {
    margin: 25px 0;
    width: 200px;
}

.secwed-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.secwed-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
}

.secwed-entry-title {
    margin: 5px 0;
    font-weight: 400;

    border-left: 3px solid var(--tertiary);
    padding-left: 1.25rem;

    margin-bottom: 0.5rem;
}

.secwed-entry-title ul li {
    list-style-type: none;
}

.secwed-entry-title ol {
    margin-top: 0;
    padding-inline-start: 20px;
}

.secwed-entry-title ol > li:before {
    font-weight: bold;
}

.secwed-talk-title {
    font-weight: 500;
    padding-top: 0.5rem;
}

.secwed-talk-speaker {
    padding: 0.5rem 0 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary);
}

.secwed-count,
.secwed-meta {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.6rem;
}
